.product-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:90%;
    grid-gap: 1rem;
    margin: 2rem auto;
}

.product-image img{
    border-radius: 1rem;
    width:100%;
    object-fit: cover;
    max-height:400px;
    max-width:400px;
}

.product-info h1{
    margin:1rem 0;
    color: orange;
    padding-top:0;
}

.product-info p {
    font-weight: 300;
}

.product-info .price ,.product-info  .brand{
    font-weight: bold;
}

.cart-btn {
    background-color: orange;
    color:black;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration:none;
    border-radius: 2rem;
}

.cart-btn:hover {
    background-color:rgb(255, 206, 72);
    cursor: pointer;
}

@media screen and (max-width: 46em){
    .product-container {
        display:block;
        margin: 1rem auto;
        width:100%;
    }

    .product-image img {
        max-width: 100%;
        max-height: auto;  

    }

}
